/* ACTIVITY */

.activity {
    height: 30%;
    margin: 50px 5px 50px 5px;
    border-radius: 16px;
    width: 100%;
    padding: 20px 0 20px 0;
}

.activity h1 {
    font-size: 21px;
}

.activity-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity-card article {
    background-color: white;
    border-radius: 16px;
    width: 23%;
    height: 420px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activity-image {
    width: -webkit-fill-available;
    border-radius: 16px 16px 0 0;
    height: 365px;
    max-width: 100%;
    text-align: center;
    object-fit: cover;
}

.text-activity {
    margin-left: 10px;
    font-size: 15px;
}

/* POMEGUES-FRIOUL */

.pomegues-frioul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pomegues {
    background-color: white;
    height: 54%;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.frioul {
    background-color: white;
    height: 36%;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activity-image-pomegues {
    width: -webkit-fill-available;
    border-radius: 16px 16px 0 0;
    height: 80%;
    max-width: 100%;
    text-align: center;
    object-fit: cover;
}

.activity-image-frioul {
    width: -webkit-fill-available;
    border-radius: 16px 16px 0 0;
    height: 73%;
    max-width: 100%;
    text-align: center;
    object-fit: cover;
}

.text-pomegues-frioul {
    margin: 10px 0 5px 10px;
    font-size: 15px;
}

.text-frioul {
    margin: 9px 0 0 10px;
    font-size: 15px;
}

/* GARDE-LONGCHAMPS */

.garde-longchamps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.garde {
    background-color: white;
    height: 40%;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activity-image-garde {
    width: -webkit-fill-available;
    border-radius: 16px 16px 0 0;
    height: 72%;
    max-width: 100%;
    text-align: center;
    object-fit: cover;
}

.text-garde {
    margin: 9px 0 0 10px;
    font-size: 15px;
}

.longchamps {
    background-color: white;
    height: 50%;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activity-image-longchamps {
    width: -webkit-fill-available;
    border-radius: 16px 16px 0 0;
    height: 78%;
    max-width: 100%;
    text-align: center;
    object-fit: cover;
}

.text-longchamps {
    margin: 9px 0 0 10px;
    font-size: 15px;
}

