/* 
.aside {
    background-color: aqua;
    display: flex;
    width: 500px;
    height: 580px;
}

.aside-card {
    /* background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 836px;
    margin-right: 8px;
    margin-bottom: 800px;
    margin-top: -1004px;
    border-radius: 16px; */
}

/* .aside-title {
    /* margin: 0 0 0 15px; */
} 