.footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 50px 50px 50px 40px;
    display: flex;
    justify-content: space-between;
}

.propos {
    font-size: 14px;
    text-align: left;
    color: grey;
    display: inline-block;
}

.nos-hebergements {
    font-size: 14px;
    text-align: left;
    display: inline-block;
    color: grey;
}

.assistance {
    font-size: 14px;
    text-align: left;
    color: grey;
    display: inline-block;
}