.content {

    display: flex;
    flex-direction: column;
    height: 1500px;
    /* justify-content: space-between; */
}

.all-hosting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 150%;
}

.all-hosting h1 {
    font-size: 21px;
}

.hosting {
    background-color: #f2f2f2;
    width: 65%;
    border-radius: 16px;
    padding: 30px;
    margin-right: 15px;
}

.hosting a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.hosting article {
    background-color: white;
    border-radius: 16px;
    width: 30%;
    height: 168px;
    margin: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hosting-article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 40px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 168px;
}

/* .hosting-article div {
    height: 160px;
} */

.text {
    background-color: #0065FC;
}

.hosting-article div img {
    width: 260px;
    height: 60%;
}

.hosting-article p {

}


.image-article {
    height: 10px;
    border-radius: 16px 16px 0 0;
    max-height: 100px;
    max-width: 200px;
    width: 200px;
    background-color: white;
    text-align: center;
}

.hosting-text {
    background-color: blue;
    margin: 5px 0 0 5px;
    font-size: 15px;
}

.star {
    color: #0065FC;
    font-size: 10px;
    margin: 5px 0 0 5px
}

.popular {
    background-color: #f2f2f2;
    width: 25%;
    border-radius: 16px;
    padding: 30px;
    margin-left: 15px;
}

.popular-article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
}

.popular-article article {
    background-color: white;
    border-radius: 16px;
    height: 27%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activity {
    height: 30%;
    margin: 50px 5px 50px 5px;
    border-radius: 16px;
    width: 150%;
    padding: 20px;
}

.activity h1 {
    font-size: 21px;
}

.activity-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity-card article {
    background-color: pink;
    border-radius: 16px;
    width: 23%;
    height: 420px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pomegues-frioul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pomegues {
 background-color: pink;
 height: 50%;
 border-radius: 16px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.frioul {
 background-color: pink;
 height: 30%;
 border-radius: 16px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.garde-longchamps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.garde {
 background-color: black;
 height: 35%;
 border-radius: 16px;
}

.longchamps {
 background-color: black;
 height: 50%;
 border-radius: 16px;
}